############################
# Maven
############################

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


############################
# Java
############################

*.class


############################
# IntelliJ IDEA
############################

.idea/
*.iml
out/


############################
# Logs
############################

*.log
logs/


############################
# Environment variables
############################

.env


############################
# OS files
############################

.DS_Store
Thumbs.db


############################
# Docker
############################

docker-data/
postgres_data/


############################
# Spring Boot
############################

application-local.yml
application-dev.yml


############################
# Build artifacts
############################

*.jar
*.war
*.ear


############################
# Temporary files
############################

*.tmp
*.swp
*.bak